/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 10px;
}

ul li a.active {
  background: #4070f4;
}
